.profile__main-information{
    display: flex;
    flex-direction: row;
}

@media (min-width:320px) and (max-width: 940px){
    .profile__main-information{
    flex-direction: column;
    align-items: center;
    }
}